:root{
  /* SIZES */
    --custom-size-navBarHeight : 80px;
    --custom-size-appMargin : 40px;
    --custom-size-font-small: 12px;
    --custom-size-font-medium: 14px;
    --custom-size-font-large: 18px;
    --custom-size-font-extra-large: 24px;

    /* COLORS */
    --custom-color-button-text :  RGB(219, 219, 219);

    @media (prefers-color-scheme: light) {
      --custom-color-primary : RGB(219, 219, 219);
      --custom-color-secondary : RGB(0, 0, 9);
      --custom-color-accent : RGB(181, 3, 136);
    }
    
    @media (prefers-color-scheme: dark) {
      --custom-color-primary : RGB(0, 0, 9);
      --custom-color-secondary : RGB(219, 219, 219);
      --custom-color-accent : RGB(181, 3, 136);
    }
}


#root {
  height: 100vh;
  text-align: center;
  display: grid;
  grid-template-columns: [page-start] var(--custom-size-appMargin) [content-start] 1fr [content-end] var(--custom-size-appMargin) [page-end];
  grid-template-rows: [navbar-start] var(--custom-size-navBarHeight) [navbar-end] auto [end-end];
  background: var(--custom-color-primary);
  color: var(--custom-color-secondary);
}

.App {
  grid-column: page-start / page-end;
  grid-row: navbar-start / end-end;
  display: grid;
  grid-template-columns: inherit;
  grid-template-rows: inherit;
}

#navbar {
  grid-column: content-start / content-end;
  grid-row : navbar-start / navbar-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

#filters{
  grid-column: content-start / content-end ;
  grid-row-start: navbar-end;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px 0px;
}

button{
  background-color: var(--custom-color-accent);
  color: var(--custom-color-button-text);
  padding: 10px 20px;
  border : none;
  border-radius: 10px;
}

#scrollableSection {
  grid-column: content-start / content-end;
  grid-row-start : navbar-end;
}


.accent {
  color:var(--custom-color-accent);
}

.button-text {
  color: var(--custom-color-button-text);
}
/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

